
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.pixel-font {
    font-family: 'Jersey 10', sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
}


@layer utilities {
    .default-px {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: 991.98px) {
      .default-px {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    @media (max-width: 480px) {
      .default-px {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .default-py {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (max-width: 991.98px) {
      .default-py {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    @media (max-width: 480px) {
      .default-py {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
}

